# BUILD OUTPUT
bin/
obj/
out/
artifacts/
TestResults/

# NUGET
packages/
*.nupkg
*.snupkg

# IDE
.vs/
.vscode/
.idea/
*.sln.iml
*.DotSettings.user

# MSBUILD / USER-SPECIFIC
*.user
*.suo
*.cache

# COVERAGE
coverage/
*.coverage
*.coveragexml

# OS
.DS_Store
Thumbs.db

# CAKE
tools/

# MISC
*.log
*.tmp
*.bak
*.swp
*.dmp
